@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* 
    VARIÁVEIS E CONFIGURAÇÕES GERAIS*/
:root {
   
    --primary-color: #360b6f;
    --secondary-color: #FF9800;
    --accent-blue: #2dbcdc;
    --text-white: #ffffff;
    --bg-light: #f7f8f9;
    
    
    --hero-gradient: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
    
    
    --font-main: 'Dosis', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: var(--font-main);
}

body {
    background-color: var(--primary-color);
    line-height: 1.6;
}

/* 
   COMPONENTES REUTILIZÁVEIS
    */
    .align-items-center {
    align-items: center !important;
}
.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}


section {
    width: 100%;
    padding: 100px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

a {
    color: rgb(64, 64, 64);
    text-decoration: none;
    transition: 0.4s;
    outline: 0px !important;
}

p {
    color: rgb(95, 95, 95);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: Catamaran, sans-serif;
}

.sub-title {
    color: rgb(255, 152, 0);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.bg-grey {
    background-color: var(--bg-light);
}

.default-btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    display: inline-block;
    background-color: #7b68ee;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    margin-top: 5px;
    transition: 0.4s;
    border: none;
}

.default-btn-one {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #7b68ee;
    font-size: 16px;
    font-weight: 600;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    transition: 0.4s;
    border: none;
    margin-top: 5px;
    margin-right: 20px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/* 
   HEADER (Navegação)
    */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: transparent;
    position: absolute; 
    width: 100%;
    z-index: 10;
}

header .links {
    display: flex;
    gap: 20px; 
}

header .links a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 500;
}

/* 
    HERO SECTION
    */
#hero-section {
    position: relative;
    min-height: 100vh;
    background: var(--hero-gradient);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#hero-section .container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

#left-side {
    flex: 1;
    min-width: 300px;
    color: var(--text-white);
}

#left-side h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

#left-side .social-icon-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

#left-side .social-icon-list a {
    color: var(--text-white);
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.creative-shape {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: auto;
}

/* 
   SERVICES SECTION
    */
#services {
    background-color: var(--text-white);
    text-align: center;
    margin-top: 0;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-top: 50px;
}

#services .service-cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.set-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#services h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* 
   ABOUT SECTION
    */
#about-section {
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 5%; 
    gap: 50px;
}

.about-info {
    flex: 1;
    min-width: 300px;
}

.about-info h2 {
    font-size: 35px;
    margin: 15px 0;
}

.right-side .about-img img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}

/*
CHOOSE-TRUST SECTION
    */


.choose-trust {
    background-color: var(--text-white);
}

.choose-trust .container .choose-section {
    display: flex;

}

/* 
   
    */

#portfolio {
    background-color: var(--bg-light);
    padding: 100px 5%;
    text-align: center;
}

#portfolio .container h2 {
    font-family: 50px;
    
}

#portfolio .container .portoflio-grid .folio-img {
    background-image: url('../assets/portfolio-1.jpg');
}
/* 
PARALLAX SECTION
    */

.parallax-section {
    background-image: url('../assets/logo-black.png');
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--text-white);
}

.parallax-section .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parallax-section .container h3 {
    font-size: 50px; 
}

.parallax-section .container p {
    font-size: 18px;

}

/* 
TESTIMONIAL SECTION
    */

.testimonial {  
    background-color: var(--text-white);
    text-align: center;
    padding: 60px 0;
} 
.testimonial h2 {
    margin-bottom: 20px;
}

testimonial-card {
    display: block;
    width: 100%;
}


.carousel-item .col-md-4 {
    padding: 15px;
}
.carousel-item {
    backface-visibility: hidden;
    perspective: 1000px;
}


.carousel-inner {
    transition: transform 2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}


/*
    EXPERT SECTION
*/

.expert-team {
    background-color: var(--text-white);
}
.single-team-box {
    margin-top: 30px;
    overflow: hidden;
    transition: .5s;
}

.team-image {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: auto;
    
}

.team-info {
    text-align: center;
    padding: 20px 15px 0px;
    transition: .5s;
}

.team-social-icon {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.team-social-icon a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
    transform: scale(0);
    will-change: transform;
    border-radius: 8px;
    margin: 0px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    transition: 0.3s;
}

.fab {
    font-weight: 400;
    font-family: "Font Awesome 6 Brands";
}

single-team-box .team-image img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

/*
    BLOG & ARTICLES SECTION
*/


.section-title {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 65px;
}

.sub-title {
    color: rgb(255, 152, 0);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.blog-single-item {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(82, 90, 101, 0.1) 0px 5px 20px 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.4s;
}

.blog-single-item .blog-description {
    padding: 20px 25px;
}

.blog-single-item .blog-description .blog-info {
    margin-bottom: 0px;
    transition: 0.4s;
}

.blog-single-item .blog-description .blog-info li {
    color: rgb(123, 104, 238);
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
}

.blog-single-item .blog-description .blog-info a {
    color: rgb(85, 85, 85);
    text-decoration: none;
}

.blog-single-item .blog-description .blog-info li i {
    position: relative;
    top: 0px;
    color: rgb(123, 104, 238) !important;
    margin-right: 3px;
}

/*
    PARTNERS SECTION
*/

.partner-title {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 65px;
}
.partner-title h2 {
    color: rgb(64, 64, 64);
    font-size: 40px;
    font-weight: 800;
    margin: 10px 0px 0px;
}

.partner-section {
    background-color: var(--text-white);
}



.partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin-left: -5px;
    margin-right: -5px;
}

.partner-list .partner-item {
    padding-left: 5px;
    padding-right: 5px;
}

.partner-list .partner-item a {
    position: relative;
    display: flex;           
    align-items: center;     
    justify-content: center;  
    
    
    width: 250px;
    height: 130px;
    
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid rgb(237, 237, 237);
}

.partner-list .partner-item a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*
    HIRE SECTION
*/

.hire-section {
    position: relative;
    z-index: 1;
    text-align: center;
    background-image: url(../assets/client-8.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px;
    background-position: center center;
}

.hire-content h2 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

.hire-content p {
    color: #fff;
    margin: 20px 0 0 0;
}



/*
    CONTACT SECTION
*/

contact-section.home-1-contact-section {
    background-image: url(../assets/map-image.png);
    background-position: right center;
    background-size: auto;
    background-repeat: no-repeat;
}

.contact-section {
    position: relative;
    z-index: 1;
    background: url(../img/dot-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-section.home-1-contact-section .home-contact-img {
    text-align: center;
}

.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-section.home-1-contact-section .form-control {
    background-color: transparent;
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #cacaca;
    border-left: 2px solid #7b68ee;
    box-shadow: none;
}

.contact-section.home-1-contact-section .contact-form form textarea.form-control {
    height: auto;
    padding-top: 15px;
    line-height: initial;
}

/*
    FOOTER & SUBSCRIBE SECTION
*/

.footer-subscribe-wrapper {
    position: relative;
    z-index: 1;
    background-color: #042c4c;
}

.subscribe-area {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.5;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.subscribe-content {
    text-align: left;
}

.subscribe-content h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-content p {
    color: #fff;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 25px;
}

.single-footer-widget .footer-social {
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.single-footer-widget .footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.single-footer-widget .footer-social i {
    color: #7b68ee;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    transition: 0.4s;
}

.single-footer-widget .footer-heading {
    margin-bottom: 25px;
}

.single-footer-widget .footer-heading h3 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.footer-heading h3 {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.single-footer-widget .footer-quick-links {
    padding-left: 0;
    margin-bottom: 0;
}

.single-footer-widget .footer-quick-links li {
    padding-bottom: 18px;
    list-style-type: none;
}

.single-footer-widget .footer-quick-links li a {
    display: inline-block;
    color: #ececec;
    font-size: 16px;
    font-weight: 400;
}

.single-footer-widget .footer-info-contact {
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
}

.single-footer-widget .footer-info-contact i {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.single-footer-widget .footer-info-contact h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.single-footer-widget .footer-info-contact span {
    color: #ececec;
    font-size: 15px;
    font-weight: 400;
}

.single-footer-widget .footer-info-contact span a {
    color: #ececec;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.single-footer-widget p {
    color: #ececec;
    font-size: 16px;
    font-weight: 400;
}

.single-footer-widget .footer-social {
    padding-left: 0;
    margin-top: 20px;
}

.newsletter-form .input-newsletter {
    color: #404040;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 50px;
    display: block;
    padding-left: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    outline: 0;
}

.newsletter-form button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px;
    border-radius: 0px 5px 5px 0px;
    text-transform: capitalize;
    background-color: mediumslateblue;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: none;
}

.newsletter-form {
    position: relative;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

/* 
    COPYRIGHT SECTION
     */

.copyright-area {
    padding: 35px 0;
    background-color: #042c4c;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}

.copyright-area p {
    color: #ffffff;
    font-size: 16px;
}

.far {
    font-weight: 400;
}

.copyright-area ul {
    padding-left: 0;
    text-align: right;
    margin-bottom: 0;
}

.copyright-area ul li {
    position: relative;
    color: #ececec;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

.copyright-area ul li a {
    color: #ffffff;
    display: inline-block;
}


/*
    GO TOP SECTION
*/

.go-top.active {
    top: 98%;
    transform: translateY(-98%);
    opacity: 1;
    visibility: visible;
}


.go-top {
    color: #ffffff;
    position: fixed;
    z-index: 4;
    right: 15px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    background-color: #7b68ee;
    transition: .9s;
    cursor: pointer;
}

.go-top i {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    transition: 0.4s;
    margin: 0 auto;
}



/*
    PRELOADER
     */
*/
.preloader.preloader-deactivate {
    visibility: hidden;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: transparent;
}

.preloader.preloader-deactivate .loader {
    opacity: 0;
    visibility: hidden;
}

.preloader .loader {
    position: absolute;
    top: 43%;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    -webkit-transform: translateY(-43%);
    transform: translateY(-43%);
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 0 auto;
}



.preloader .loader .shadow {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: 5px;
    opacity: 0.1;
    border-radius: 50%;
    background-color: #000000;
    -webkit-animation: shadow .5s linear infinite;
    animation: shadow .5s linear infinite;
}

.preloader .loader .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    animation: animate .5s linear infinite;
}