@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    VARIÁVEIS E CONFIGURAÇÕES GERAIS*/
:root {
   
    --primary-color: #360b6f;
    --secondary-color: #FF9800;
    --accent-blue: #2dbcdc;
    --text-white: #ffffff;
    --bg-light: #f7f8f9;
    
    
    --hero-gradient: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
    
    
    --font-main: 'Dosis', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: var(--font-main);
}

body {
    background-color: var(--primary-color);
    line-height: 1.6;
}

/* 
   COMPONENTES REUTILIZÁVEIS
    */
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

section {
    width: 100%;
    padding: 100px 0;
}

/* 
   HEADER (Navegação)
    */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: transparent;
    position: absolute; 
    width: 100%;
    z-index: 10;
}

header .links {
    display: flex;
    gap: 20px; 
}

header .links a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 16px;
    font-weight: 500;
}

/* 
    HERO SECTION
    */
#hero-section {
    position: relative;
    min-height: 100vh;
    background: var(--hero-gradient);
    display: flex;
    align-items: center;
    overflow: hidden;
}

#hero-section .container-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

#left-side {
    flex: 1;
    min-width: 300px;
    color: var(--text-white);
}

#left-side h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

#left-side .social-icon-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

#left-side .social-icon-list a {
    color: var(--text-white);
    font-size: 1.2rem;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.creative-shape {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: auto;
}

/* 
   SERVICES SECTION
    */
#services {
    background-color: var(--text-white);
    text-align: center;
    margin-top: 0;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-top: 50px;
}

#services .service-cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.set-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#services h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* 
   ABOUT SECTION
    */
#about-section {
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 5%; 
    gap: 50px;
}

.about-info {
    flex: 1;
    min-width: 300px;
}

.about-info h2 {
    font-size: 35px;
    margin: 15px 0;
}

.right-side .about-img img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}

/*
CHOOSE-TRUST SECTION
    */


.choose-trust {
    background-color: var(--text-white);
}

.choose-trust .container .choose-section {
    display: flex;

}

/* 
   
    */

#portfolio {
    background-color: var(--bg-light);
    padding: 100px 5%;
    text-align: center;
}

#portfolio .container h2 {
    font-family: 50px;
    
}

#portfolio .container .portoflio-grid .folio-img {
    background-image: url('../assets/portfolio-1.jpg');
}